<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <boxalino_di>
            <di_config>
                <status>1</status>
                <account></account>
                <api_key></api_key>
                <api_secret></api_secret>
                <is_dev>0</is_dev>
                <is_test>1</is_test>
                <batch_size>4000</batch_size>
            </di_config>
        </boxalino_di>
        <boxalino_di_F>
            <di_config>
                <product>1</product>
                <user>0</user>
                <order>1</order>
                <content>0</content>
                <user_selection>0</user_selection>
                <user_generated_content>1</user_generated_content>
                <dispatch>0</dispatch>
                <endpoint>https://boxalino-di-full-krceabfwya-ew.a.run.app</endpoint>
            </di_config>
        </boxalino_di_F>
        <boxalino_di_D>
            <di_config>
                <product>0</product>
                <user>0</user>
                <order>1</order>
                <content>0</content>
                <user_selection>0</user_selection>
                <user_generated_content>0</user_generated_content>
                <outsource>0</outsource>
                <endpoint>https://boxalino-di-delta-krceabfwya-ew.a.run.app</endpoint>
            </di_config>
        </boxalino_di_D>
        <boxalino_di_I>
            <di_config>
                <product>0</product>
                <user>0</user>
                <order>0</order>
                <fields>0</fields>
                <endpoint>https://boxalino-di-stage-krceabfwya-ew.a.run.app</endpoint>
            </di_config>
        </boxalino_di_I>
    </default>
</config>
