<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Category\View" type="BoxalinoClientProject\BoxalinoIntegration\Block\Api\Navigation"/>
    <preference for="Magento\CatalogSearch\Block\Result" type="BoxalinoClientProject\BoxalinoIntegration\Block\Api\Search"/>
    <preference for="Magento\Catalog\Block\Product\ProductList\Related" type="BoxalinoClientProject\BoxalinoIntegration\Block\Api\Product\Related"/>

    <!-- registry-mock to access available API response structures -->
    <preference for="Boxalino\RealTimeUserExperience\Api\CurrentApiResponseRegistryInterface" type="Boxalino\RealTimeUserExperience\Registry\CurrentApiResponse"/>
    <preference for="Boxalino\RealTimeUserExperience\Api\CurrentApiResponseViewRegistryInterface" type="Boxalino\RealTimeUserExperience\Registry\CurrentApiResponseView"/>

    <!-- the sorting model must be declared for the integration to work; even in absence of use, the default provided one can be used -->
    <preference for="Boxalino\RealTimeUserExperienceApi\Framework\Content\Listing\ApiSortingModelInterface" type="Boxalino\RealTimeUserExperience\Model\Response\Content\ApiSorting"/>
    <type name="Boxalino\RealTimeUserExperience\Model\Response\Content\ApiSorting">
        <arguments>
            <argument name="sortingList" xsi:type="array">
                <item name="position" xsi:type="array">
                    <item name="field" xsi:type="string">position</item>
                    <item name="direction" xsi:type="string">asc</item>
                    <item name="label" xsi:type="string">Recommended</item>
                    <item name="api-field" xsi:type="string">position</item>
                    <item name="reverse" xsi:type="boolean">false</item>
                </item>
                <item name="price-asc" xsi:type="array">
                    <item name="field" xsi:type="string">price</item>
                    <item name="direction" xsi:type="string">asc</item>
                    <item name="label" xsi:type="string">Price: low to high</item>
                    <item name="api-field" xsi:type="string">discountedPrice</item>
                    <item name="reverse" xsi:type="boolean">false</item>
                </item>
                <item name="price-desc" xsi:type="array">
                    <item name="field" xsi:type="string">price</item>
                    <item name="direction" xsi:type="string">desc</item>
                    <item name="label" xsi:type="string">Price: high to low</item>
                    <item name="api-field" xsi:type="string">discountedPrice</item>
                    <item name="reverse" xsi:type="boolean">true</item>
                </item>
                <item name="newest" xsi:type="array">
                    <item name="field" xsi:type="string">entity_id</item>
                    <item name="direction" xsi:type="string">desc</item>
                    <item name="label" xsi:type="string">New arrivals</item>
                    <item name="api-field" xsi:type="string">id</item>
                    <item name="reverse" xsi:type="boolean">true</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- configuration for the facet values delimiter in the URL -->
    <type name="Boxalino\RealTimeUserExperience\Model\Response\Content\ApiFacet">
        <arguments>
            <argument name="facetValuesDelimiter" xsi:type="string">|</argument>
        </arguments>
    </type>

</config>
