<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- LayeredNavigation preference for the navigation context -->
    <virtualType name="Boxalino\RealTimeUserExperience\Block\LayeredNavigation\Navigation\Category"
                 type="Boxalino\RealTimeUserExperience\Block\LayeredNavigation\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">categoryFilterList</argument>
            <argument name="apiContext" xsi:type="object">BoxalinoClientProject\BoxalinoIntegration\Model\Api\Request\Context\NavigationContext</argument>
        </arguments>
    </virtualType>
    <preference for="Magento\LayeredNavigation\Block\Navigation\Category" type="Boxalino\RealTimeUserExperience\Block\LayeredNavigation\Navigation\Category"/>

    <!-- LayeredNavigation preference for the search context -->
    <virtualType name="Boxalino\RealTimeUserExperience\Block\LayeredNavigation\Navigation\Search"
                 type="Boxalino\RealTimeUserExperience\Block\LayeredNavigation\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">searchFilterList</argument>
            <argument name="apiContext" xsi:type="object">BoxalinoClientProject\BoxalinoIntegration\Model\Api\Request\Context\SearchContext</argument>
        </arguments>
    </virtualType>
    <preference for="Magento\LayeredNavigation\Block\Navigation\Search" type="Boxalino\RealTimeUserExperience\Block\LayeredNavigation\Navigation\Search"/>
</config>
