<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- PDP recommendation blocks (strategy B): declare as many virtual types per your layout needs -->
    <virtualType name="BoxalinoClientProject\BoxalinoIntegration\Block\Catalog\Product\View\Related" type="BoxalinoClientProject\BoxalinoIntegration\Block\Api\Product\View"/>
    <preference for="Magento\Catalog\Block\Product\ProductList\Related" type="BoxalinoClientProject\BoxalinoIntegration\Block\Catalog\Product\View\Related"/>

    <virtualType name="BoxalinoClientProject\BoxalinoIntegration\Block\Catalog\Product\View\Upsell" type="BoxalinoClientProject\BoxalinoIntegration\Block\Api\Product\View"/>
    <preference for="Magento\Catalog\Block\Product\ProductList\Upsell" type="BoxalinoClientProject\BoxalinoIntegration\Block\Catalog\Product\View\Upsell"/>

    <virtualType name="BoxalinoClientProject\BoxalinoIntegration\Block\Catalog\Product\View\Crosssell" type="BoxalinoClientProject\BoxalinoIntegration\Block\Api\Product\View"/>
    <preference for="Magento\Catalog\Block\Product\ProductList\Crosssell" type="BoxalinoClientProject\BoxalinoIntegration\Block\Catalog\Product\View\Crosssell"/>

</config>
